[user]
  name = {{name}}
  email = {{email}}
[alias]
  co = checkout
  track = !git-track
[color]
  diff = auto
  status = auto
  branch = auto
  pager = yes
[core]
  excludesfile = /Users/{{username}}/.gitignore
  editor = mate -w
  ignorecase = false
[apply]
  whitespace = fix
[diff]
  rename = copy
  tool = Kaleidoscope
[merge]
  tool = opendiff
[github]
  user = {{github_username}}
  token = {{github_token}}
[push]
  default = tracking
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
