[user]
  name = {{name}}
  email = {{email}}
[alias]
  co = checkout
  track = !git-track
[color]
  diff = auto
  status = auto
  branch = auto
  pager = yes
[core]
  excludesfile = /Users/{{username}}/.gitignore
  editor = mate -w
[apply]
  whitespace = fix
[diff]
  rename = copy
[merge]
  tool = opendiff
[github]
  user = {{github_username}}
  token = {{github_token}}
[push]
  default = tracking