[user]
  name = {{name}}
  email = {{email}}
[alias]
  ci = commit -v
  co = checkout
  track = !git-track
[color]
  diff = auto
  status = auto
  branch = auto
  pager = yes
[core]
  excludesfile = /Users/{{username}}/.gitignore
  editor = mate -w
  ignorecase = false
[apply]
  whitespace = fix
[diff]
  rename = copy
  tool = Kaleidoscope
[merge]
  tool = Kaleidoscope
[github]
  user = {{github_username}}
[push]
  default = tracking
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[mergetool]
  keepBackup = true
  prompt = false
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
