"*":
  "exception-reporting":
    userId: "7de0a1bb-a444-2642-c548-62589083ff9e"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "76ab4efbb4ecf4fe0181ed8343e8441379f7d671"
  core:
    themes: [
      "one-dark-ui"
      "gruvbox"
    ]
    disabledPackages: [
      "nuclide-file-tree"
    ]
  editor:
    invisibles: {}
    zoomFontWhenCtrlScrolling: true
    showInvisibles: true
    showIndentGuide: true
    fontFamily: "Hack"
  "coffee-refactor": {}
  react: {}
  minimap:
    plugins:
      "git-diff": true
      "find-and-replace": true
      selection: true
      pigments: true
      codeglance: true
  "one-dark-ui": {}
  linter:
    showErrorPanel: false
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
  "autocomplete-erlang": {}
  "disable-keybindings":
    allCommunityPackages: true
    exceptCommunityPackages: [
      "vim-surround"
      "vim-mode"
      "automagit"
      "jumpy"
      "ex-mode"
      "vim-mode-visual-block"
    ]
  "vim-surround": {}
  jumpy: {}
  jshint:
    supportLintingJsx: true
  "css-comb":
    predef: "yandex"
  "git-history": {}
  "git-log": {}
  "linter-rubocop": {}
  "atom-ternjs": {}
  "minimap-codeglance": {}
  "rubocop-auto-correct": {}
  "linter-ruby": {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    remoteProjectsConfig: []
  racer: {}
  "language-elm": {}
