packages: [
  "aligner-css"
  "aligner-php"
  "aligner-ruby"
  "aligner-scss"
  "aligner"
  "autocomplete-clang"
  "autocomplete-elixir"
  "autocomplete-paths"
  "autocomplete-php"
  "autocomplete-python"
  "autocomplete-ruby"
  "autocomplete-sass"
  "css-comb"
  "disable-keybindings"
  "editorconfig"
  "ember-snippets"
  "emmet"
  "ex-mode"
  "jshint"
  "jumpy"
  "language-docker"
  "language-elixir"
  "language-lisp"
  "language-nginx"
  "language-rust"
  "linter-ruby"
  "linter-rust"
  "linter"
  "minimap-color-highlight"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-selection"
  "minimap"
  "monokai"
  "open-project-in-tower"
  "package-sync"
  "pretty-json"
  "rails-snippets"
  "rails-transporter"
  "react"
  "regex-railroad-diagram"
  "retro-gruvbox"
  "ruby-block-converter"
  "sort-lines"
  "ssh-config"
  "swap-selection"
  "toggle-quotes"
  "turbo-javascript"
  "underscorejs-snippets"
  "vim-mode-visual-block"
  "vim-mode"
  "vim-surround"
]
