packages: [
  "autocomplete-clang"
  "autocomplete-elixir"
  "autocomplete-paths"
  "autocomplete-php"
  "autocomplete-python"
  "autocomplete-ruby"
  "autocomplete-sass"
  "disable-keybindings"
  "editorconfig"
  "ember-snippets"
  "emmet"
  "ex-mode"
  "gruvbox"
  "gruvbox-dark-ryanmt"
  "jshint"
  "juicebox-syntax"
  "jumpy"
  "language-elixir"
  "language-lisp"
  "language-rust"
  "linter"
  "linter-rust"
  "minimap"
  "minimap-color-highlight"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-selection"
  "monokai"
  "open-project-in-tower"
  "package-sync"
  "pretty-json"
  "rails-snippets"
  "react"
  "ssh-config"
  "turbo-javascript"
  "underscorejs-snippets"
  "vim-mode"
  "vim-mode-visual-block"
  "vim-surround"
]
