packages: [
  "aligner"
  "aligner-css"
  "aligner-php"
  "aligner-ruby"
  "aligner-scss"
  "autocomplete-clang"
  "autocomplete-elixir"
  "autocomplete-paths"
  "autocomplete-php"
  "autocomplete-python"
  "autocomplete-ruby"
  "autocomplete-sass"
  "automagit"
  "css-comb"
  "disable-keybindings"
  "editorconfig"
  "ember-snippets"
  "emmet"
  "ex-mode"
  "git-history"
  "jshint"
  "jumpy"
  "language-diff"
  "language-docker"
  "language-elixir"
  "language-lisp"
  "language-nginx"
  "language-rust"
  "linter"
  "linter-bootlint"
  "linter-clang"
  "linter-coffeescript"
  "linter-csslint"
  "linter-doiuse"
  "linter-elixirc"
  "linter-erb"
  "linter-erlc"
  "linter-golint"
  "linter-gotype"
  "linter-govet"
  "linter-handlebars"
  "linter-htmlhint"
  "linter-js-yaml"
  "linter-jshint"
  "linter-jsonlint"
  "linter-less"
  "linter-rubocop"
  "linter-ruby"
  "linter-rust"
  "linter-scss-lint"
  "linter-shellcheck"
  "linter-swiftc"
  "linter-tidy"
  "linter-xmllint"
  "minimap"
  "minimap-color-highlight"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-selection"
  "monokai"
  "open-project-in-tower"
  "package-sync"
  "pretty-json"
  "rails-snippets"
  "rails-transporter"
  "react"
  "regex-railroad-diagram"
  "retro-gruvbox"
  "ruby-block-converter"
  "sort-lines"
  "ssh-config"
  "swap-selection"
  "toggle-quotes"
  "turbo-javascript"
  "underscorejs-snippets"
  "vim-mode"
  "vim-mode-visual-block"
  "vim-surround"
]
